* {
  box-sizing: border-box;
}

html, body {
  margin: 0;
  padding: 0;
}


body {
  display: flex;
  justify-content: center;
  background-color: #447ad4;
  font-family: "Lora", serif;
  color: #ffffff;
}

.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  max-width: 400px;
  height: 100vh;
  border: 10px solid #000000;
  border-radius: 20px;
  padding: 0.2em;
}

main {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100%;
}

header {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 200px;
  background-color: #6abf69;
  color: #ffffff;
}


.footer-text {
  font-size: 0.9rem;
}

button {
cursor: pointer;
background-color: #6abf69;
}

button:hover {
  background-color: #69bf9e;
}

/*** User Input Component ***/

h1 {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 0;
  margin-top: 0;
  font-size: 1.8rem;
}

.header-h1-img {
  width: 50px;
}

.header-subtext {
  margin-top: 0;
  font-size: 0.9rem;
}

.call-to-action {
  text-align: center;
  width: 100%;
  margin-top: 2em;
}

.user-input-container {
  display: flex;
  align-items: center;
  width: 100%;
  height: 100px;
  margin-bottom: 0.5em;
  margin-top: 0.5em;
}

.input-field {
  width: 100%;
  height: 100%;
  text-align: center;
  border-radius: 20px;
  border: none;
  padding-left: 0.5em;
  padding-right: 0.5em;
  font-family: inherit;
}


.add-btn {
  width: 50px;
  height: 100px;
  background-color: #ffffff;
  border: 2px solid #000000;
  font-weight: 700;
  font-size: 3rem;
  border-radius: 20px;
  border: none;
  margin-left: 0.1em;
}

.add-btn:hover {
  background-color: #6abf69;
  color: #ffffff;
}

.input-response-container {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 125px;
  overflow: auto;
  background-color: #77a2ff;
  border: 5px solid #000000;
  border-radius: 20px;
  margin-top: 1em;
  margin-bottom: 1em;
  font-size: 1.5rem;
  text-align: center;
  padding: 0.5em;
}

.input-response-container::-webkit-scrollbar {
  display: none;
}

.click-plus-button-message {
  width: 100%;
}

.click-plus-button-message-span {
  font-size: 3rem;
}

.warning-message {
  color: #e60023;
  font-weight: 700;
}

.generate-report-btn {
  width: 100%;
  height: 75px;
  font-size: 1.5rem;
  border-radius: 20px;
  border: none;
  margin-bottom: 0.5em;
  font-family: inherit;
}


.enable-generate-report-btn {
 color: #ffffff; 
}

.enable-generate-report-btn:hover {
  background-color: #3239E3;
}

.disclaimer-text {
  font-size: 0.8rem;
  font-weight: 700;
  color: lightgrey;
}

/*** Response page component ***/

.response-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  border: 5px solid black;
  border-radius: 20px;
  width: 100%;
  min-height: 200px;
  text-align: center;
  padding: 1em;
  font-size: 1.5rem;
  background-color: #ffffff;
  color: #000000;
}

.response-title {
  font-size: 1.5rem;
}
